<!DOCTYPE html>
<html>

<head>
    <title>CodeLab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body class="min-h-screen bg-slate-950 text-white">
    <%- include('../partials/navbarAdmin') %>

    <main class="container mx-auto px-4 py-8">
        <div class="mb-8 flex flex-col justify-between gap-4 md:flex-row md:items-center">
            <div>
                <h1 class="mb-2 text-3xl font-bold">Gerenciamento de Desafios</h1>
                <p class="text-slate-400">
                    Crie, edite e gerencie desafios de programação
                </p>
            </div>
            <div class="flex items-center gap-2">
                <button class="btn bg-emerald-600 hover:bg-emerald-700" onclick="create_challenge.showModal()">
                    <i class="fa-solid fa-plus"></i>
                    Novo Desafio
                </button>
            </div>
        </div>
        <dialog id="create_challenge" class="modal">
            <div class="modal-box bg-slate-900 text-white">
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost hover:bg-slate-500 absolute right-2">X</button>
                </form>
                <h3 class="text-lg font-bold">Novo Desafio</h3>
                <form action="/admin/challenges" method="post">
                    <fieldset class="fieldset mt-4">
                        <legend class="text-sm font-medium text-slate-200">
                            Título
                        </legend>
                        <input type="text" name="title" class="input border-slate-700 bg-slate-800 text-white w-full"
                            required />
                    </fieldset>
                    <fieldset class="fieldset mt-2">
                        <legend class="text-sm font-medium text-slate-200">
                            Descrição
                        </legend>
                        <textarea type="textarea" name="description"
                            class="textarea border-slate-700 bg-slate-800 text-white w-full" required>
                    </textarea>
                    </fieldset>
                    <fieldset class="fieldset mt-2">
                        <legend class="text-sm font-medium text-slate-200">
                            Dificuldade
                        </legend>
                        <select class="select border-slate-700 bg-slate-800 text-white w-1/2" name="difficulty">
                            <option value="easy">Fácil</option>
                            <option value="medium">Média</option>
                            <option value="hard">Dificil</option>
                        </select>
                    </fieldset>
                    <button type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 mt-4">
                        Salvar
                    </button>
                </form>
            </div>
        </dialog>
        <div class="overflow-x-auto bg-slate-900 text-white border rounded-box border-slate-800">
            <table class="table">
                <thead>
                    <tr class="border-b border-slate-800">
                        <th class="px-4 py-3 text-left text-sm font-medium text-slate-400">Título</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-slate-400">Descrição</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-slate-400">Dificuldade</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-slate-400">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (challenges.length === 0) { %>
                        <tr class="border-b border-slate-800">
                            <td colspan="4">Nenhum desafio encontrado</td>
                        </tr>
                    <% } else { %>
                        <% challenges.forEach(challenge => { %>
                            <tr class="border-b border-slate-800">
                                <td><%= challenge.challenge_title %></td>
                                <td><%= challenge.challenge_description %></td>
                                <td>
                                    <span class="badge <%=
                                        challenge.challenge_difficulty === 'easy' 
                                        ? 'bg-green-600 hover:bg-green-700'
                                        : challenge.challenge_difficulty === 'medium'
                                            ? 'bg-yellow-600 hover:bg-yellow-700'
                                            : 'bg-red-600 hover:bg-red-700'
                                    %>">
                                        <%= challenge.challenge_difficulty %>
                                    </span>
                                </td>
                                <td class="flex gap-2">
                                    <button class="btn btn-outline btn-warning" 
                                        onclick="openEditModal('<%= challenge.challenge_id %>', '<%= challenge.challenge_title %>', '<%= challenge.challenge_description %>', '<%= challenge.challenge_difficulty %>')">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <form action="/admin/challenges/<%= challenge.challenge_id %>/delete" method="POST">
                                        <button type="submit" class="btn btn-outline btn-error">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <dialog id="edit_challenge" class="modal">
            <div class="modal-box bg-slate-900 text-white">
                <form method="dialog">
                    <button class="btn btn-sm btn-circle btn-ghost hover:bg-slate-500 absolute right-2">X</button>
                </form>
                <h3 class="text-lg font-bold">Editar Desafio</h3>
                <form id="editChallengeForm" method="post">
                    <fieldset class="fieldset mt-4">
                        <legend class="text-sm font-medium text-slate-200">
                            Título
                        </legend>
                        <input type="text" name="title" id="editChallengeTitle" class="input border-slate-700 bg-slate-800 text-white w-full" required />
                    </fieldset>
                    <fieldset class="fieldset mt-2">
                        <legend class="text-sm font-medium text-slate-200">
                            Descrição
                        </legend>
                        <textarea type="textarea" name="description" id="editChallengeDescription" class="textarea border-slate-700 bg-slate-800 text-white w-full" 
                            required>
                    </textarea>
                    </fieldset>
                    <fieldset class="fieldset mt-2">
                        <legend class="text-sm font-medium text-slate-200">
                            Dificuldade
                        </legend>
                        <select class="select border-slate-700 bg-slate-800 text-white w-1/2" name="difficulty" id="editChallengeDifficulty">
                            <option value="easy">Fácil</option>
                            <option value="medium">Média</option>
                            <option value="hard">Dificil</option>
                        </select>
                    </fieldset>
                    <button type="submit" class="btn bg-emerald-600 hover:bg-emerald-700 mt-4">
                        Salvar
                    </button>
                </form>
            </div>
        </dialog>
    </main>
    <script>
        function openEditModal(challengeId, challengeTitle, challengeDescription, challengeDifficulty) {
            document.getElementById('editChallengeTitle').value = challengeTitle;
            document.getElementById('editChallengeDescription').value = challengeDescription;
            document.getElementById('editChallengeDifficulty').value = challengeDifficulty;

            const form = document.getElementById('editChallengeForm');
            form.action = `/admin/challenges/${challengeId}/update`;

            document.getElementById('edit_challenge').showModal();
        }
    </script>
</body>

</html>