<!DOCTYPE html>
<html>

<head>
    <title>CodeLab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body class="min-h-screen bg-slate-950 text-white">
    <%- include('partials/navbar') %>

    <main class="container mx-auto px-4 py-8">
        <div class="mb-8">
            <h1 class="mb-2 text-3xl font-bold">Explore Desafios</h1>
            <p class="text-slate-400">Descubra desafios de programação e melhore suas habilidades</p>
        </div>
        <div class="mb-8">
            <label class="input border-slate-700 bg-slate-800 text-white w-full">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="grow placeholder:text-slate-500" id="searchInput" placeholder="Pesquisar">
            </label>
        </div>
        <div class="mb-8 bg-slate-800 w-full h-10 p-1 rounded-md flex items-center">
            <button class="btn-difficulty btn bg-emerald-600 text-white text-sm py-1.5 flex-1" data-filter="all">
                Todos
            </button>
            <button class="btn-difficulty btn bg-slate-800 text-slate-400 text-sm py-1.5 flex-1" data-filter="easy">
                Fácil
            </button>
            <button class="btn-difficulty btn bg-slate-800 text-slate-400 text-sm py-1.5 flex-1" data-filter="medium">
                Médio
            </button>
            <button class="btn-difficulty btn bg-slate-800 text-slate-400 text-sm py-1.5 flex-1" data-filter="hard">
                Difícil
            </button>
        </div>
        <div id="challenges" class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
            <% challenges.forEach(challenge => { %>
                <a href="/challenges/<%= challenge.challenge_id %>" class="challenge-card rounded-lg border shadow-sm bg-slate-900 text-white" 
                    data-title="<%= challenge.challenge_title.toLowerCase() %>" 
                    data-description="<%= challenge.challenge_description.toLowerCase() %>"
                    data-difficulty="<%= challenge.challenge_difficulty.toLowerCase() %>">
                    <div class="flex flex-col space-y-1.5 p-6 pb-3">
                        <div class="flex items-center justify-between">
                            <span data-difficulty="<%= challenge.challenge_difficulty.toLowerCase() %>" 
                                class="badge <%=challenge.challenge_difficulty === 'easy' 
                                ? 'bg-green-600 hover:bg-green-700'
                                : challenge.challenge_difficulty === 'medium'
                                    ? 'bg-yellow-600 hover:bg-yellow-700'
                                    : 'bg-red-600 hover:bg-red-700'%>">
                                <%= challenge.challenge_difficulty %>
                            </span>
                            <div class="flex items-center gap-1 text-yellow-400">
                                <i class="fa-solid fa-star"></i>
                                <span class="text-sm">4.8</span>
                            </div>
                        </div>
                        <h3 class="font-semibold mt-2 text-xl tracking-tight"><%= challenge.challenge_title %></h3>
                        <p class="text-sm text-slate-400"><%= challenge.challenge_description %></p>
                    </div>
                    <div class="p-6 pt-0">
                        <div class="flex">
                            <div class="border border-slate-700 font-semibold px-2.5 py-0.5 rounded-full text-slate-300 text-xs">
                                <%= challenge.category_name %>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center p-6 border-t border-slate-800 pt-3">
                        <div class="flex w-full justify-between text-sm text-slate-400">
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-circle-check"></i>
                                <span>89% sucesso</span>
                            </div>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-clock"></i>
                                <span>15 min</span>
                            </div>
                            <div class="flex items-center gap-1">
                                <i class="fa-solid fa-users"></i>
                                <span>12.5k</span>
                            </div>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </main>
    <script>
        document.getElementById('searchInput').addEventListener('input', (event) => {
            const filterString = event.target.value.toLowerCase();
            const difficultyButtons = document.querySelectorAll('.btn-difficulty');
            const cards = document.querySelectorAll('.challenge-card');

            difficultyButtons.forEach(btn => {
                btn.classList.remove('bg-emerald-600', 'text-white');
                btn.classList.add('bg-slate-800', 'text-slate-400');

                const filter = btn.dataset.filter;

                if (filter === 'all') {
                    btn.classList.remove('bg-slate-800', 'text-slate-400');
                    btn.classList.add('bg-emerald-600', 'text-white');
                }
            });

            cards.forEach(card => {
                const title = card.dataset.title;
                const description = card.dataset.description;

                if (title.includes(filterString) || description.includes(filterString)) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    </script>
    <script>
        const difficultyButtons = document.querySelectorAll('.btn-difficulty');
        const cards = document.querySelectorAll('.challenge-card');

        difficultyButtons.forEach(button => {
            button.addEventListener('click', () => {
                difficultyButtons.forEach(btn => {
                    btn.classList.remove('bg-emerald-600', 'text-white');
                    btn.classList.add('bg-slate-800', 'text-slate-400');
                });

                button.classList.remove('bg-slate-800', 'text-slate-400');
                button.classList.add('bg-emerald-600', 'text-white');

                const filter = button.dataset.filter;

                cards.forEach(card => {
                    const difficulty = card.dataset.difficulty;
                    card.style.display = (filter === 'all' || filter === difficulty) ? '' : 'none';
                });
            });
        });
    </script>
</body>

</html>